<!DOCTYPE html>
<html lang="en">
  <head>
<title>PhotoVote</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/index.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="../static/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="header">
        	<nav class='navbar navbar-expand-md bg-primary navbar-dark'><a class='navbar-brand' href='/'>Photo Vote</a></nav>
        </div>
        <div class="jumbotron">
          <form class="form-signin" action={{path}} method="post">
		  <label for="inputPhotographer" class="sr-only">Photographer</label>
          <input type="text" name="inputPhotographer" id="inputPhotographer" class="form-control" placeholder="{{defaultPhotographer}}" required autofocus>
		  <label for="inputNumber" class="sr-only">Photo number</label>
		  <input type="text" name="inputNumber" id="inputNumber" class="form-control" placeholder="{{defaultNumber}}" required>
		  <input type="hidden" name="ExistingID" id="ExistingID" value="{{ExistingID}}" >
          <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">{{action}}</button>
          </form>
        </div>
      <footer class="footer">
        <p>&copy; Bas Janssen 2018</p>
      </footer>
    </div>
  </body>
</html>
