<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>PhotoVote</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Photo Vote</h3>
        </div>
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
 
        <footer class="footer">
            <p>&copy; Bas Janssen 2018</p>
        </footer>
 
    </div>
</body>
 
</html>
