<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PhotoVote</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#007bff">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="icon" sizes="192x192" href="images/icons-192.png">
		<link rel="apple-touch-icon" href="images/icons-192.png">
		<link rel= "manifest" href="/manifest.json">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/index.css">
		<link rel="stylesheet" type="text/css" href="/star-rating-svg.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>  
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>  
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
		<script src="jquery.star-rating-svg.js"></script>
	</head>
	<body>
		<div id="outer-container" class="container m-0 p-0">
			<div class="header mt-0 pt-0 sticky-top">
				{{navbar}}
			</div>
			<div id="inner-container" class="jumbotron m-0 p-0">
				{{overview}}
			</div>
			{{alerts}}
			<footer class='footer'>
				<p>&copy; Bas Janssen 2018</p>
			</footer>
		</div>
		{{modals}}
		{{script}}
	</body>
</html>
